.month{
  padding-left: 20px;
  text-align: center;
}

.mid-container{
    margin:0px 20px;
    display: flex;
    justify-content: space-between;  
    border: 2px solid black;  
}


th{
    background-color: rgb(5, 24, 117);
    padding: 8px 40px;
    color:white;
}
td{
    padding:3px 40px;
}
.tasks{
    border: 2px solid black;
    justify-items: center;
}
